.dp-highlighter {
  font-family: "Consolas", "Courier New", Courier, mono, serif;
  font-size: 12px;
  background-color: #E7E5DC;
  width: 99%;
  overflow: auto;
  margin: 0;
  padding-top: 1px; /* adds a little border on top when controls are hidden */
}

#code .dp-highlighter {
  list-style: none !important;
  margin-left: 0px !important;
}

.dp-highlighter ol li, .dp-highlighter .columns div {
  list-style: decimal-leading-zero; /* better look for others, override cascade from OL */
  list-style-position: outside !important;
  border-left: 3px solid #6CE26C;
  background-color: #F8F8F8;
  color: #5C5C5C;
  padding: 0 3px 0 10px;
  margin: 0;
  line-height: 14px;
}

.dp-highlighter.nogutter {
  border: 0;
}

.dp-highlighter.collapsed ol li {
  display: none;
}

.dp-highlighter.printing .tools {
  display: none !important;
}

/* Styles for the tools */

.dp-highlighter .tools {
  font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
